@{
    ViewData["Title"] = "Xử lý đặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var IDBG = ViewBag.IDBG ?? 0; // Nhận từ query string, mặc định = 0
    var act = ViewBag.Act ?? 0;
    var gdc = ViewBag.Gdc ?? 0;
}


<section class="content-header">
    <h1>Xem chi tiết đặt hàng - ID: @IDBG</h1>
    <div class="pull-right">
        <a href="http://www.demodienmay.125.atoz.vn/cart-web/?choixanh=review&mabaogia=26074634" title="Xem đơn hàng trên web" target="_blank" class="btn btn-primary btn-sm"><i class="fa fa-internet-explorer"></i> Xem trên web</a>
        <a href="delete.asp?act=@act&gdc=@gdc&IDBG=@IDBG" title="Xoá đơn hàng" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i> Xóa</a>
        <a href="/admin/print/bg.asp?id=@IDBG&check=down" title="Lưu file .xls" class="btn btn-success btn-sm"><i class="fa fa-download"></i> Tải</a>
        <a href="/admin/print/bg.asp?id=@IDBG" title="In đơn hàng" target="_blank" class="btn btn-info btn-sm"><i class="fa fa-print"></i> In</a>
        <a href="email.asp?IDBG=@IDBG" title="Gửi lại đơn hàng cho khách đặt hàng" class="btn btn-warning btn-sm"><i class="fa fa-envelope-o"></i> Gửi email</a>
        <a href="/admin/quanlykho/dathang/list.asp" title="Quay lại danh sách" class="btn btn-default btn-sm"><i class="fa fa-arrow-left"></i> Quay lại</a>
    </div>
</section>

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs nav-maintab">
        <li class="active"><a aria-expanded="true" data-toggle="tab" href="#maintab_1">Xem đơn hàng</a></li>
        <li><a aria-expanded="true" data-toggle="tab" href="#maintab_2" class="loadlichsu">Lịch sử đặt hàng</a></li>
        <li class=""><a aria-expanded="true" data-toggle="tab" href="#maintab_3" class="loadcongno">Theo dõi công nợ</a></li>
    </ul>
    <div class="tab-content noidungmaintab">
        <div id="maintab_1" class="tab-pane active row wrap-table">

            <section class="content">

                <div class="alert alert-danger alert-dismissible">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-warning"></i> Thông báo!</h4>
                    <p>Đang tải dữ liệu...</p>
                </div>

                <div class="row">
                    <form class="form-horizontal" method="post" action="update.asp?act=@act&gdc=@gdc&IDBG=@IDBG">
                        <div class="col-md-4">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a aria-expanded="true" data-toggle="tab" href="#tab_1">Đơn hàng</a></li>
                                    <li class=""><a aria-expanded="true" data-toggle="tab" href="#tab_2">Thanh toán</a></li>
                                    <li class=""><a aria-expanded="true" data-toggle="tab" href="#tab_3">Lịch sử</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="tab_1" class="tab-pane active row wrap-table">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Khách đặt hàng</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="" class="col-sm-12">Số báo giá</label>
                                                <div class="col-sm-12">
                                                    <input class="form-control" name="SoBangBaoGia" value="" readonly>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="" class="col-sm-12">Tên khách hàng</label>
                                                <div class="col-sm-12">
                                                    <input class="form-control" name="CustomerName" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-12">Tel</label>
                                                <div class="col-sm-12">
                                                    <input class="form-control" name="Tel" maxlength="20" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-12">Email</label>
                                                <div class="col-sm-12">
                                                    <input class="form-control" name="EmailAddress" maxlength="50" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-12">Address</label>
                                                <div class="col-sm-12">
                                                    <textarea class="form-control" rows="3" cols="32" name="Address"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-12">Khách ghi chú</label>
                                                <div class="col-sm-12">
                                                    <textarea class="form-control" rows="3" cols="32" name="Notice"></textarea>
                                                </div>
                                            </div>
                                            <p class="lead">Ghi chú nội bộ</p>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <textarea class="form-control" rows="3" cols="32" name="NoiDung"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab_2" class="tab-pane row wrap-table">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Hình thức thanh toán</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="payment_method" value="cash">
                                                            Thanh toán tiền mặt
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="payment_method" value="transfer">
                                                            Chuyển khoản ngân hàng
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="payment_method" value="credit">
                                                            Thanh toán qua thẻ tín dụng
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="payment_method" value="installment">
                                                            Trả góp
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab_3" class="tab-pane row wrap-table">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Lịch sử giao dịch</h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="col-sm-12">
                                                <p>Đang tải dữ liệu lịch sử...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="submit" class="btn pull-right btn-primary" name="Submit"><i class="fa fa-save"></i> Lưu trữ</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="col-md-8">
                        <div class="box box-primary wrap-table">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Tên</th>
                                        <th class="tdwidth70">S.lượng</th>
                                        <th class="tdwidth80">Đơn giá</th>
                                        <th class="tdwidth100">Giá bán</th>
                                        <th class="tdwidth100">Ghi chú</th>
                                        <th class="tdwidth100">Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody id="cartTableBody">
                                    <!-- Product list will be loaded dynamically -->
                                    <tr id="loadingRow">
                                        <td colspan="6" class="text-center">
                                            <i class="fa fa-spinner fa-spin"></i> Đang tải danh sách sản phẩm...
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="box-footer">
                                <p class="lead col-md-4">Tổng cộng</p>
                                <p class="lead col-md-8 pull-right right" id="totalAmount">0đ</p>
                            </div>
                            <div class="box-footer">
                                <a class="btn pull-right btn-primary" href="email4.asp?act=@act&gdc=@gdc&IDBG=@IDBG&id=0" id="processOrderBtn"><i class="fa fa-save"></i> Cho phép xử lý</a>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

        </div>
        <div id="maintab_2" class="tab-pane row wrap-table">
            <span class="chitietlichsu">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Lịch sử đặt hàng của khách</h3>
                    </div>
                    <div class="box-body">
                        <p>Nhấp vào tab để tải dữ liệu lịch sử đặt hàng...</p>
                    </div>
                </div>
            </span>
        </div>
        <div id="maintab_3" class="tab-pane row wrap-table">
            <span class="chitietcongno">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Theo dõi công nợ khách hàng</h3>
                    </div>
                    <div class="box-body">
                        <p>Nhấp vào tab để tải dữ liệu công nợ khách hàng...</p>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>

<span class="formthongbaopopupcenter"></span>
<span class="formthongbaomoipopup"></span>
<span id="boxes" style="display:none"></span>
<div class="modal fade" id="thongbaoHeThongModal" tabindex="-1" role="dialog" aria-labelledby="thongbaoHeThongModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>×</span></button>
                <h5 class="modal-title" id="thongbaoHeThongModalLabel"></h5>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer box-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div id="notification" class="notification position-fixed top-0 end-0 bg-primary text-white p-3 m-3 rounded" style="top: 20px; right: 20px; z-index: 999; display:none"></div>

@section Scripts {
    <script>
        var cartItems = [];
        var productDetails = {};

        function formatCurrency(amount) {
            if (!amount) return '0';
            return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
                function loadOrderInfo(idbg) {
            // Gọi API lấy báo giá (thông tin chung)
            $.ajax({
                type: 'GET',
                url: `https://localhost:44321/api/Generic/GDC_Quotation_BangBaoGia/filter?keyValues=IDBG%3D${idbg}&page=1&pageSize=100`,
                dataType: 'json',
                success: function (data) {
                    if (data && data.length > 0) {
                        var item = data[0];
                        // Điền vào input
                        $('input[name="SoBangBaoGia"]').val(item.SoBangBaoGia || '');
                        $('input[name="CustomerName"]').val(item.CustomerName || '');
                        $('input[name="Tel"]').val(item.Tel || '');
                        $('input[name="EmailAddress"]').val(item.EmailAddress || '');
                        $('textarea[name="Address"]').val(item.Address || '');
                        $('textarea[name="Notice"]').val(item.Notice || '');
                        $('textarea[name="NoiDung"]').val(item.NoiDung || '');

                        // Set radio hình thức thanh toán
                        if (item.idHinhThucThanhToan) {
                            var methodMap = { 1: 'cash', 2: 'transfer', 3: 'credit', 4: 'installment' };
                            var v = methodMap[item.idHinhThucThanhToan] || 'cash';
                            $(`input[name="payment_method"][value="${v}"]`).prop('checked', true);
                        }

                                        // HIỂN THỊ GHI CHÚ (định dạng HTML từ API)
                $('.alert.alert-danger.alert-dismissible').html(
                    `<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4><i class="icon fa fa-warning"></i> Thông báo!</h4>
                    ${item.GhiChu || '<p>Không có ghi chú!</p>'}`
                );
                        // Nếu có log, hiện vào lịch sử
                        $('#tab_3 .box-body').html(`
                            <div class="col-sm-12">
                                ${item.GhiChu || ''}
                            </div>
                        `);
                    }
                }
            });
        }

        function loadCartItems(idbg) {
            $('#cartTableBody').html(`<tr id="loadingRow"><td colspan="6" class="text-center"><i class="fa fa-spinner fa-spin"></i> Đang tải danh sách sản phẩm...</td></tr>`);
            $.ajax({
                type: 'GET',
                url: `https://localhost:44321/api/Generic/GDC_Quotation_ChitietBaogia/filter?keyValues=IDBG%3D${idbg}&page=1&pageSize=100`,
                dataType: 'json',
                success: function (data) {
                    if (!Array.isArray(data) || !data.length) {
                        renderEmptyCart();
                        $('#totalAmount').text('0đ');
                        return;
                    }
                    cartItems = data;
                    loadProductDetails(cartItems);
                },
                error: function(xhr, status, error) {
                    $('#cartTableBody').html(`
                        <tr>
                            <td colspan="6" class="text-center text-danger">
                                <i class="fa fa-exclamation-triangle"></i> Lỗi khi tải danh sách sản phẩm: ${error}
                            </td>
                        </tr>
                    `);
                    $('#totalAmount').text('0đ');
                }
            });
        }

        function loadProductDetails(items) {
            var requests = [];
            $.each(items, function(i, item) {
                if (!productDetails[item.IDPart]) {
                    requests.push(
                        $.ajax({
                            type: 'GET',
                            url: `https://localhost:44321/api/Generic/Table_Customer_PartMaster/filter?keyValues=IDPart%3D${item.IDPart}&page=1&pageSize=1`,
                            dataType: 'json'
                        }).done(function(productResponse) {
                            if (productResponse && productResponse.length > 0) {
                                productDetails[item.IDPart] = productResponse[0];
                            }
                        })
                    );
                }
            });
            $.when.apply($, requests).always(function() {
                renderCartItems();
            });
        }

                function renderCartItems() {
            var tbody = $('#cartTableBody');
            tbody.empty();
            var totalAmount = 0;
            $.each(cartItems, function(index, item) {
                var product = productDetails[item.IDPart] || {};
                var productName = product.PartName || `Sản phẩm ID: ${item.IDPart}`;
                var unitPrice = item.PriceVND || 0;
                var sellPrice = item.GiaBan || unitPrice;
                var quantity = item.SoLuongYeuCauBaoGia || 1;
                var totalPrice = sellPrice * quantity;
                var notes = item.GhiChu || '';
                totalAmount += totalPrice;

                var row = `
                    <tr>
                        <td>
                            <select class="form-control select2 chonmahang" name="MaCu">
                                <option value="${item.IDPart}" selected="selected">${productName}</option>
                            </select>
                        </td>
                        <td><input name="SoLuong" value="${quantity}" class="form-control quantity-input" data-iddq="${item.IDDQ}"></td>
                        <td align="right">${formatCurrency(unitPrice)}</td>
                        <td><input value="${sellPrice}" name="DonGiaXuatKho" class="form-control price-input" data-iddq="${item.IDDQ}"></td>
                        <td><input value="${notes}" name="GhiChu" class="form-control notes-input" data-iddq="${item.IDDQ}"></td>
                        <td>
                            <form name="frmSearch" method="post" action="add.asp?act=@act&gdc=@gdc&IDBG=@IDBG" style="display:inline;">
                                <input type="hidden" value="${item.IDDQ}" name="IDDQ">
                                <input type="hidden" value="${item.IDPart}" name="MaMoi">
                                <button type="submit" name="Submit" class="btn btn-success" title="Cập nhật"><i class="fa fa-save"></i></button>
                            </form>
                            <a href="xoa.asp?act=@act&gdc=@gdc&IDBG=@IDBG&IDDQ=${item.IDDQ}" class="btn btn-danger" title="Xoá"><i class="fa fa-remove"></i></a>
                        </td>
                    </tr>
                `;
                tbody.append(row);
            });

            // Thêm dòng thêm mới
            var addNewRow = `
                <tr>
                    <td>
                        <select class="form-control select2 chonmahang" name="MaMoi">
                            <option value="">Chọn sản phẩm...</option>
                        </select>
                    </td>
                    <td><input name="SoLuong" value="1" class="form-control"></td>
                    <td align="right">0</td>
                    <td align="right">0</td>
                    <td></td>
                    <td>
                        <form name="frmSearch" method="post" action="add.asp?act=@act&gdc=@gdc&IDBG=@IDBG" style="display:inline;">
                            <button type="submit" name="Submit" class="btn btn-danger btn-block"><i class="fa fa-save"></i> Thêm</button>
                        </form>
                    </td>
                </tr>
            `;
            tbody.append(addNewRow);

            $('#totalAmount').text(formatCurrency(totalAmount) + 'đ');
            $('#processOrderBtn').attr('href', `email4.asp?act=@act&gdc=@gdc&IDBG=@IDBG&id=${totalAmount}`);

            // Khởi tạo lại select2 và event
            if (typeof initializeSelect2 === "function") initializeSelect2();
            if (typeof addCalculationEventListeners === "function") addCalculationEventListeners();
        }


                function renderEmptyCart() {
            var tbody = $('#cartTableBody');
            tbody.html(`
                <tr>
                    <td>
                        <select class="form-control select2 chonmahang" name="MaMoi">
                            <option value="">Chọn sản phẩm...</option>
                        </select>
                    </td>
                    <td><input name="SoLuong" value="1" class="form-control"></td>
                    <td align="right">0</td>
                    <td align="right">0</td>
                    <td></td>
                    <td>
                        <form name="frmSearch" method="post" action="add.asp?act=@act&gdc=@gdc&IDBG=@IDBG" style="display:inline;">
                            <button type="submit" name="Submit" class="btn btn-danger btn-block"><i class="fa fa-save"></i> Thêm</button>
                        </form>
                    </td>
                </tr>
            `);
            $('#totalAmount').text('0đ');
            if (typeof initializeSelect2 === "function") initializeSelect2();
        }

        // Hàm định dạng ngày VN
        function formatDateVN(str) {
            if (!str) return '';
            var d = new Date(str);
            return d.toLocaleString('vi-VN');
        }

        // Gọi khi trang load
        $(document).ready(function () {
            loadOrderInfo(@IDBG);
        });

        // TỰ ĐỘNG GỌI API KHI VÀO TRANG
        $(document).ready(function () {
            loadCartItems(@IDBG);
        });
    </script>
}