
	<section class="content-header">
		<h1>Quản lý bình luận</h1>
	</section>

	<section class="content">
		<div class="box box-primary wrap-table smform">
			<div id="example_wrapper" class="dataTables_wrapper no-footer">
				<div class="dataTables_length" id="example_length"><label>Hiển thị <select name="example_length" aria-controls="example" class=""><option value="10">10</option><option value="20">20</option><option value="50">50</option><option value="100">100</option><option value="1000">1,000</option><option value="10000">10,000</option></select> kết quả</label></div><div id="example_filter" class="dataTables_filter"><label><input type="search" class="" placeholder="" aria-controls="example"></label><div class="right">Giảm bớt cột: <a class="toggle-vis btn btn-xs btn-warning" data-column="0">ID</a> <a class="toggle-vis btn btn-xs btn-info" data-column="1">Tên</a> <a class="toggle-vis btn btn-xs btn-primary" data-column="2">Thời gian</a> <a class="toggle-vis btn btn-xs btn-info" data-column="3">Bài viết</a> <a class="toggle-vis btn btn-xs btn-info" data-column="4">Nội dung</a> </div></div><table id="example" class="table table-bordered table-hover table-striped dataTable no-footer" aria-describedby="example_info" style="width: 1292px;">
					<thead>
						<tr><th class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" data-column-index="0" style="width: 62.4px;" aria-label="ID: Sắp xếp giảm dần" aria-sort="ascending">ID</th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" data-column-index="1" style="width: 98.4px;" aria-label="Tên: Sắp xếp tăng dần">Tên</th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" data-column-index="2" style="width: 225.4px;" aria-label="Thời gian: Sắp xếp tăng dần">Thời gian</th><th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" data-column-index="3" style="width: 180.4px;" aria-label="Bài viết: Sắp xếp tăng dần">Bài viết</th><th class="sorting_disabled" rowspan="1" colspan="1" data-column-index="4" style="width: 215.4px;" aria-label="Nội dung">Nội dung</th><th class="tinhnang sorting_disabled" rowspan="1" colspan="1" data-column-index="5" style="width: 476.4px;" aria-label=""></th></tr>
					</thead>

					<tbody>

						<tr class="odd"><td valign="top" colspan="6" class="dataTables_empty">Không có dữ liệu</td></tr>
					</tbody>
				</table><div class="dataTables_info" id="example_info" role="status" aria-live="polite">Không có kết quả</div><div class="dataTables_paginate paging_simple_numbers" id="example_paginate"><a class="paginate_button previous disabled" aria-controls="example" data-dt-idx="0" tabindex="-1" id="example_previous">Trước</a><span></span><a class="paginate_button next disabled" aria-controls="example" data-dt-idx="1" tabindex="-1" id="example_next">Kế</a></div>
			</div>
			<div class="sapxep">

				<div class="soketqua">
					Có tổng số <span class="sophantu">0</span>&nbsp;/&nbsp;<span class="sotrang">0</span>&nbsp;trang
				</div>
				<div class="next">
					<a class="trangketiep" href="form.asp?act=3&amp;gdc=5&amp;Search=&amp;pageid="></a>
				</div>
				<div class="phantrang">

					<a class="size13 tranghientai" href="form.asp?act=3&amp;gdc=5&amp;Search=&amp;pageid=1">1</a>&nbsp;&nbsp;

				</div>
			</div>
		</div>
	</section>